
	body {
		background-color: #f3f5f7;
	}
    body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    	font-family: "Microsoft YaHei", 微软雅黑, "宋体", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;	
    }
    .navbar-inverse {
    	margin-bottom: 0;
    	border-radius: 0;
    	border-width: 0;
    }
    .navbar-form {
    	font-size: 14px;
    	margin-top: 0;
    	margin-bottom: 0;
    }
    .input-group {
    	margin-top: 8px;
    	margin-bottom: 8px;
    	width: 185px;
    }
    .form-control {
    	background-color: transparent;
    	border-width: 0;

    }
    .input-group-addon {
    	background-color: transparent;
    	border-width: 0;
    	color: #9d9d9d;
    }
    .glyphicon:before {
    	padding-right: 5px;
    }
    .divider {
    	padding-left: 3px;
    	padding-right: 3px;
    }
    #course-nav {
    	top: 50px;
    	position: absolute;
    	width: 224px;
    	z-index: 2;
    	background-color: rgba(0,0,0,.2);
    	border: none;
    	font-size: 15px;
    	text-align: center;
    	margin-bottom: 0;
    }
    #course-nav li a {
    	color: #fff;
    	border-radius: 0;
    	padding: 15px;	
    }
    #course-nav li a:link {
    	background-color: transparent;
    }
    #course-nav li a:hover {
    	background-color: rgba(0,0,0,.4);
    }
    .carousel-control.right {
    	background-image: none;
    }
    .carousel-control.left {
    	position: absolute;
    	left: 224px;
    	background-image: none;
    }
    .carousel-indicators {
    	padding-left: 180px;
    }
    .col-sm-1-5 {
    	width: 20%;
    	float: left;

    }
    .module-brand {
    	line-height: 24px;
    	font-size: 16px;
    	margin-bottom: 8px;
    	margin-top: 20px;
    	color: #111;	
    }
    .row {
    	margin-left: 0;
    	margin-right: 0;
    	margin-bottom: 12px;
    }
    .col-sm-1-5 {
    	padding-right: 12px;
    	cursor: pointer;
    }
    /* .col-sm-1-5 > div {
    	height: 240px;
    } */
    .glyphicon-heart-empty, .glyphicon-heart {
        color: red;
    }
    .col-sm-1-5 a:hover {
    	box-shadow: 5px 5px 5px #dfdfdf;
    }
    .col-sm-1-5 a {
    	background-color: #fff;
    }
    .course-total {
    	color: rgb(85,185,41);
    }
    .col-content {
    	padding: 10px;
    }
    .course-sch {
    	padding-top: 6px;
    }
    .total{
    	line-height: 24px;
    	font-size: 12px;
    	margin-right: 12px;
    }
    .footer nav{
    	padding-left: 25%;
    	border: none;
    	margin-bottom: 0;
    }
    #loginOrReg .modal-dialog {
    	width: 320px;	
    }
    #loginOrReg .modal-header {
    	padding-bottom: 0;
    	border-bottom-width: 0;
    }
    #loginOrReg .modal-body {
    	background-image: url("../image/1.jpg");
    	opacity: .9;
    	padding: 15px 40px;
    }
    #loginOrReg .form-control {
    	width: 180px;
    }
    #loginOrReg .glyphicon {
    	color: #fff;
    }
    .error {
    	color: #f3f5f7;
    	font-size: 10px;
    	font-weight: 100;
    }
    .check {
    	color: #fff;
    	padding-left: 48px;
    	font-size: 12px;
    	font-weight: 100;
    	line-height: 21px;
    }
    #loginButton {
    	width: 200px;
    	display: inline-block;
    	margin-left: 43px;
    	margin-top: 12px;
    }
    #gotoTop{
		position: fixed;
		top: 80%;
		right: 5%;
		width: 45px;
		height: 47px;
	}
	.user-pic img{
		width: 20px;
		height: 20px;
		}
		.module-brand a {	
			color: #111;
			text-decoration: none;
		}
		.col-title {
			font-size: 13px;
			color: #000;
		}
		.course-total {
			color: rgb(85,185,41);
		}
		.col-content {
			font-size: 12px;
			padding: 12px 10px;
		}
		.course-sch {
			padding-top: 6px;
		}
		
		.row{
			margin-bottom: 15px;
		}
		#course-gaokao {
			margin-bottom: 82px;
		}
		.col-sm-1-5 a {
			margin-right: 12px; 
			text-decoration: none;
			height: 220px; 
			color: rgb(153,153,153);
			display: inline-block;
			background-color: #fff;
		}