/* ::::: http://open.sina.com.cn/css/style_course.css ::::: */

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin: 0px; padding: 0px; }
fieldset, img { border: medium none; }
ul, ol, li { list-style: outside none none; }
select, input { vertical-align: middle; }
select, input, textarea { font-size: 12px; margin: 0px; }
body { color: rgb(104, 104, 104); padding: 5px 0px; font: 12px/20px "宋体"; background: rgb(247, 247, 247) url('../img/pubclass2012_yan_rpx.png') repeat-x scroll 0px 0px; }
.clearfix::after { content: "."; display: block; height: 0px; visibility: hidden; clear: both; }
.clearfix {  }
a { color: rgb(104, 104, 104); text-decoration: none; }
a:visited { color: rgb(128, 144, 163); }
a:hover, a:active, a:focus { color: rgb(6, 115, 165); text-decoration: underline; }
.wrap { width: 950px; margin: 0px auto; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
.fred, .fred a { color: rgb(199, 33, 0); }
.fblue, .fblue a:link { color: rgb(29, 122, 170); }
a.fblued, .fblued a:link { color: rgb(57, 102, 130); }
.fred a:visited, .fgrey a:visited, .fblue a:visited, .fblued a:visited, a.fblued:visited, .fbluel a:visited { color: rgb(128, 144, 163); }
.fred a:hover, .fgrey a:hover, .forg a:hover, .fblued a:hover, a.fblued:hover, .fblue a:hover, .fbluel a:hover { color: rgb(6, 115, 165); }
.fchg2, .fchg2 a:link, .fchg2 a:visited { color: rgb(27, 113, 180); }
.fchg2 a:hover { color: rgb(6, 115, 165); text-decoration: underline; }
.lf { float: left; }
.rt { float: left; }
.saveBtn, .b_txt, .sinaWb, .payAtt, .sub02_t span, .vNum, .btn04, .Lname, .show, .btns a, .part03 .arr { background: transparent url('../img/pubclass2012_yan_icons.png') no-repeat scroll 999px 999px; }
.stext, .sbtn, .tt, .sub01_t span, .best, .b2t, .tit04, .arr_l, .arr_r, .tit06 h2, .tit06 .payAtt { background: transparent url('../img/pubclass2012_yan_ttblue.png') no-repeat scroll 999px 999px; outline: medium none; }
.sub02_c, .sub02_t, .part03 { background: transparent url('../img/pubclass2012_yan_rpx2.png') repeat-x scroll 0px 0px; }
.tit01 .tit, .arr3_r, .line01, .noteBg, .up { background: transparent url('../img/pubclass2012_yan_course.png') no-repeat scroll 999px 999px; }
.payAtt { background-position: 0px -400px; height: 25px; line-height: 99px; display: inline-block; margin-right: 5px; outline: medium none; overflow: hidden; width: 73px; }
.b2t { background-position: -180px -340px; display: block; width: 118px; height: 31px; line-height: 999px; overflow: hidden; float: right; }
.line01 { height: 5px; overflow: hidden; background-position: 0px 0px; background-repeat: repeat-x; }
.up { background-position: 0px -140px; width: 79px; height: 26px; display: block; float: left; margin-right: 5px; line-height: 999px; overflow: hidden; }
.noteBg { background-position: 0px -180px; width: 138px; height: 30px; line-height: 30px; display: block; float: left; text-align: center; color: rgb(0, 0, 0); font-size: 12px; }
.menu { overflow: hidden; }
.menu_nav { position: relative; width: 950px; margin: 0px auto; }
.menu_t { height: 42px; padding-top: 2px; }
.menu_t li { float: left; height: 42px; margin: 0px 8px; display: inline; }
.menu_t li .mt { display: block; height: 42px; text-indent: -999em; outline: medium none; background: transparent url('../img/pubclass2012_yan_navtt.png') no-repeat scroll 0px 0px; }
.menu_t #menu1 .mt { background-position: 0px -1px; width: 45px; }
.menu_t #menu2 .mt { background-position: 0px -61px; width: 100px; }
.menu_t #menu3 .mt { background-position: 0px -121px; width: 100px; }
.menu_t #menu4 .mt { background-position: 0px -181px; width: 100px; }
.menu_t #menu5 .mt { background-position: 0px -241px; width: 80px; }
.menu_t #menu6 .mt { background-position: 0px -301px; width: 82px; }
.menu_t #menu7 .mt { background-position: 0px -361px; width: 80px; }
#menu1.selected .mt, .menu_t #menu1 .mt:hover { background-position: -120px 0px; }
#menu2.selected .mt, .menu_t #menu2 .mt:hover { background-position: -120px -60px; }
#menu3.selected .mt, .menu_t #menu3 .mt:hover { background-position: -120px -120px; }
#menu4.selected .mt, .menu_t #menu4 .mt:hover { background-position: -120px -180px; }
#menu5.selected .mt, .menu_t #menu5 .mt:hover { background-position: -120px -240px; }
#menu6.selected .mt, .menu_t #menu6 .mt:hover { background-position: -120px -300px; }
#menu7.selected .mt, .menu_t #menu7 .mt:hover { background-position: -120px -360px; }
.menu_c .className { padding: 2px 20px 0px 50px; margin: 0px auto; width: 900px; line-height: 30px; }
.menu_c a { float: left; padding: 0px 10px; white-space: nowrap; }
.menu_c_bg .clear { clear: both; height: 0px; width: 100%; overflow: hidden; }
.search { position: absolute; right: 0px; top: 6px; width: 210px; line-height: 22px; }
.search .stext { background-position: 0px -200px; padding: 0px 5px 0px 20px; line-height: 22px; height: 22px; width: 120px; display: block; float: left; }
.search .sinput { background: transparent none repeat scroll 0% 0%; line-height: 22px; height: 22px; width: 120px; color: rgb(153, 153, 153); font-size: 12px; border: medium none; }
.search .sbtn { float: left; background-position: -153px -200px; width: 58px; height: 22px; border: medium none; }
.part01 { margin-top: 10px; border: 1px solid rgb(174, 174, 174); background: rgb(241, 241, 242) none repeat scroll 0% 0%; }
.part01 .p_l { width: 688px; float: left; background: rgb(234, 234, 234) url('../img/pubclass2012_yan_coursebg.png') no-repeat scroll 100% 0px; }
.part01 .p_r { width: 240px; float: right; padding: 10px; }
.part02 { padding: 10px; border: 1px solid rgb(233, 233, 233); background: transparent url('../img/pubclass2012_yan_rpx4.png') repeat-x scroll 0px 0px; margin-top: 10px; overflow: hidden; }
.part02 .tit01 { overflow: hidden; margin: 0px 20px; border-bottom: 1px solid rgb(218, 217, 217); height: 45px; }
.part03 { background-position: 0px -360px; border: 1px solid rgb(228, 229, 229); height: 39px; line-height: 39px; position: relative; margin-top: 10px; text-align: center; }
.part03 .arr { background-position: -200px -80px; height: 39px; width: 25px; position: absolute; top: 0px; left: 0px; }
.part03 a { display: inline-block; padding: 0px 12px; color: rgb(0, 0, 0); }
.part03 a img { background: transparent url('../img/pubclass2012_yan_flag.png') no-repeat scroll 0px -89px; height: 20px; width: 20px; display: block; float: left; margin-top: 10px; }
.part03 a .sina { background-position: 0px 0px; }
.part03 a .ren { background-position: 0px -30px; }
.part03 a .kai { background-position: 0px -59px; }
.part03 a .wang { background-position: 0px -120px; }
.part03 a .sohu { background-position: 0px -150px; }
.part03 a .qq { background-position: 0px -180px; }
.part04 { background: rgb(238, 238, 238) none repeat scroll 0% 0%; margin-top: 10px; border: 1px solid rgb(225, 225, 225); }
.part04 .p_l { width: 685px; float: left; }
.part04 .p_r { width: 263px; float: right; }
.tit01 { height: 30px; line-height: 30px; }
.tit01 .tit { display: inline-block; height: 30px; line-height: 999px; overflow: hidden; width: 100px; font-size: 12px; }
.tit01 .jsjs { background-position: 0px -20px; }
.tit01 .kcjs { background-position: 0px -60px; }
.tit05 h2 { overflow: hidden; height: 40px; }
.tit05 h2 .tt { width: 100px; height: 37px; line-height: 999px; display: block; overflow: hidden; float: left; }
.tit05 h2 .wbtj { background-position: 10px -315px; }
.tit06 { height: 35px; padding: 10px 0px 0px 10px; border-bottom: 1px solid rgb(207, 207, 207); }
.tit06 h2 { background-position: 0px -260px; padding-left: 155px; }
.tit06 .rt { height: 30px; }
.tit06 .payAtt { background-position: 0px -520px; float: left; }
.tit06 .sinaWb { background-position: -200px 3px; padding: 0px 10px 0px 30px; height: 25px; line-height: 25px; font-size: 16px; font-family: "微软雅黑"; float: left; }
.pictxt { overflow: hidden; }
.pictxt .pic { float: left; padding-right: 8px; }
.blk_login { padding: 5px 10px 0px 0px; line-height: 30px; height: 30px; }
.blk_login .saveBtn { background-position: 0px 8px; display: block; width: 130px; height: 28px; overflow: hidden; float: left; padding-left: 10px; }
.blk01 { overflow: hidden; padding: 5px 20px; }
.blk01 h2 { font-size: 16px; font-family: "微软雅黑","黑体"; height: 30px; line-height: 30px; }
.blk02 { height: 185px; }
.blk02 .txt { padding-top: 10px; }
.blk02 .intro { padding-top: 5px; }
.arr3_r { height: 20px; width: 40px; background-position: 0px -220px; overflow: hidden; margin: 0px auto; }
.blk03 { margin-top: 25px; }
.blk03 .txt { height: 180px; }
.blkWb { border-width: medium 1px 1px; border-style: none solid solid; border-color: currentcolor rgb(233, 233, 233) rgb(233, 233, 233); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 10px 0px 6px; height: 630px; background: rgb(242, 242, 243) none repeat scroll 0% 0%; }
.blkWb .blkScroll { padding: 0px 0px 0px 5px; }
.blkWb .blk_tw { overflow: hidden; height: 110px; }
.blkWb .blk_tw .twpic { float: left; margin-top: 3px; padding-right: 4px; }
.blkWb .blk_tw .b_txt { float: left; width: 170px; height: 84px; padding: 10px 10px 5px 18px; background-position: 0px -240px; }
.blkWb .blk_tw .b_more { text-align: right; }
.blkWb .blk_tw p { color: rgb(0, 0, 0); }
.hScrollPane_dragbar, .hScrollPane_draghandle, .hScrollPane_leftarrow, .hScrollPane_rightarrow { background: transparent url('../img/dragbar.gif') repeat scroll 0% 0%; }
.hScrollPane_leftarrow { position: absolute; width: 17px; bottom: 0px; display: inline-block; height: 16px; overflow: hidden; }
.hScrollPane_rightarrow { position: absolute; width: 17px; bottom: 0px; display: inline-block; height: 16px; overflow: hidden; }
.hScrollPane_leftarrow { left: 0px; }
.hScrollPane_leftarrow:hover { background-position: left -64px; }
.hScrollPane_rightarrow { background-position: left -16px; right: 0px; }
.hScrollPane_rightarrow:hover { background-position: left -80px; }
.container2 { width: 852px; height: 174px; margin: 10px 45px; overflow: hidden; position: relative; -moz-user-select: none; }
.container2 ul { width: 50000px; position: absolute; left: 0px; top: 0px; padding: 0px; margin: 0px; }
.container2 ul li { width: 142px; float: left; line-height: 20px; text-align: center; background: rgb(238, 238, 238) none repeat scroll 0% 0%; padding: 0px; list-style-type: none; }
.container2 ul li span { height: 43px; line-height: 20px; display: block; }
.container2 ul li img { border: 1px solid rgb(204, 204, 204); padding: 2px; display: block; }
.footer { color: rgb(104, 104, 104); line-height: 22px; margin: 2em 0px; text-align: center; font-family: Arial,Helvetica,sans-serif,"黑体"; }
.secondaryHeader { height: 33px; overflow: hidden; color: rgb(0, 0, 0); font-size: 12px; font-weight: 100; padding-bottom: 2px; width: 950px; margin: 0px auto; }
.secondaryHeader a, .secondaryHeader a:visited { color: rgb(0, 0, 0); text-decoration: none; }
.secondaryHeader a:hover, .secondaryHeader a:active { color: rgb(204, 0, 0); text-decoration: underline; }
.sHBorder { padding: 0px 10px 0px 12px; overflow: hidden; }
.sHLogo { float: left; height: 31px; line-height: 31px; overflow: hidden; }
.sHLogo span, .sHLogo span a { display: table-cell; vertical-align: middle; height: 31px; }
.sHLogo span, .sHLogo span a img { vertical-align: middle; }
.sHLinks { float: right; line-height: 31px; }
